// variables
$color-offwhite: #ccc;

$font-header: 'Lobster Two', cursive;
$font-main: 'Source Sans Pro', sans-serif;


body {
    margin: 0;
    padding: 0;
    font: {
        family: $font-main;
        size: 100%;
    }
    color: #333;
    background: $color-offwhite;
}

h1 {
    font: {
       family: $font-header;
       size: 3em;
       style: italic;
    }
    color: #fff;
    margin: 30px 0px 20px;
}

header {
    background: #42596D;
    overflow: hidden;
    text-align: center;
}

.get-weather {
    background-color: #229B66;
    color: #fff;
    display: block;
    font: {
        weight: bold;
        size: 1.625em;
    }
    padding: 12px;
    text-align: center;
}

