.right-now {
    display: flex;
    padding: 10px;

    .no-dot {
        flex-grow: 1;
        list-style: none;
        padding: 0;

        li {
            line-height: 1.2em;
        }
    }

    .temp {
        flex-grow: 1;
        text-align: center;

        span {
            font-size: 4.375em; // 70px
        }
        
        .summary {
            display: block;
            font-size: 1.25em;
            font-weight: 800;
        }

        sup {
            font-size: 1.5em; // 24px
            top: -1.3333333333em; // -32px
        }
    }       
}

.right-now-summary {
    text-align: center;
    margin: 0;
}

.right-now-timestamp {
    font-size: 0.75em;
    margin-top: 5px;
    text-align: center;
}