.forecast-day {
    // background-color: #FFFFF0;
    background-color: #f9f9f9;
    margin: 0 10px 20px;
    padding: 10px 0 10px 20px;
}

.forecast-day-details {
    display: flex;
    align-items: center;

    h3 {
        margin: 0;
        flex-grow: 1;
    }

    span {
        flex-grow: 1;
    }

    .icon {
        max-width: 75px;
    }
}

.forecast-day-summary {
    padding-bottom: 5px;
}

@media screen and (min-width: 500px) {
    .days-container {
        flex-direction: row;
    }
}